<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (question()) {
      <div>
        <h2 data-cy="questionDetailsHeading"><span>Question</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ question()!.id }}</span>
          </dd>
          <dt><span>Number</span></dt>
          <dd>
            <span>{{ question()!.number }}</span>
          </dd>
          <dt><span>Question Text</span></dt>
          <dd>
            <span>{{ question()!.questionText }}</span>
          </dd>
          <dt><span>Difficulty Level</span></dt>
          <dd>
            <span>{{ question()!.difficultyLevel }}</span>
          </dd>
          <dt><span>Correct Answer</span></dt>
          <dd>
            <span>{{ question()!.correctAnswer }}</span>
          </dd>

          <dt><span>Correct Answer 2</span></dt>
          <dd>
            <span>{{ question()!.correctAnswer2 }}</span>
          </dd>
          <dt><span>Correct Answer 3</span></dt>
          <dd>
            <span>{{ question()!.correctAnswer3 }}</span>
          </dd>
          <dt><span>Correct Answer 4</span></dt>
          <dd>
            <span>{{ question()!.correctAnswer4 }}</span>
          </dd>
          <dt><span>Enable</span></dt>
          <dd>
            <span>{{ question()!.enable }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/question', question()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
