<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (answer()) {
      <div>
        <h2 data-cy="answerDetailsHeading"><span>Answer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ answer()!.id }}</span>
          </dd>
          <dt><span>Answer Text</span></dt>
          <dd>
            <span>{{ answer()!.answerText }}</span>
          </dd>
          <dt><span>Is Correct</span></dt>
          <dd>
            <span>{{ answer()!.isCorrect }}</span>
          </dd>
          <dt><span>Visible</span></dt>
          <dd>
            <span>{{ answer()!.visible }}</span>
          </dd>
          <dt><span>Question</span></dt>
          <dd>
            @if (answer()!.question) {
              <div>
                <a [routerLink]="['/question', answer()!.question?.id, 'view']">{{ answer()!.question?.number }}</a>
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ answer()!.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/answer', answer()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
