<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <!-- <h2 id="jhi-answer-heading" data-cy="AnswerCreateUpdateHeading">Answer Text</h2> -->

      <div>
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_answerText">Answer Text</label>
          <input
            type="text"
            class="form-control"
            name="answerText"
            id="field_answerText"
            data-cy="answerText"
            formControlName="answerText"
            placeholder="Your answer"
          />
          @if (editForm.get('answerText')!.invalid && (editForm.get('answerText')!.dirty || editForm.get('answerText')!.touched)) {
            <div>
              @if (editForm.get('answerText')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <!-- <div class="mb-3">
          <label class="form-label" for="field_isCorrect">Is Correct</label>
          <input type="checkbox" class="form-check" name="isCorrect" id="field_isCorrect" data-cy="isCorrect" formControlName="isCorrect" />
        </div> -->

        <!-- <div class="mb-3">
          <label class="form-label" for="field_question">Question</label>
          <select
            class="form-control"
            id="field_question"
            data-cy="question"
            name="question"
            formControlName="question"
            [compareWith]="compareQuestion"
          >
            <option [ngValue]="null"></option>
            @for (questionOption of questionsSharedCollection; track $index) {
              <option [ngValue]="questionOption">{{ questionOption.number }}</option>
            }
          </select>
        </div> -->

        <!-- <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>-->
      </div>

      <div>
        <!-- <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button> -->

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>
