<div>
  <h2 id="page-heading" data-cy="QuestionHeading">
    <span>Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question"
        [routerLink]="['/question/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Question</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (questions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Questions found</span>
    </div>
  }

  @if (questions && questions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <button (click)="toggleShowAnswers()">
        {{ showAnswers ? 'Hide Answers' : 'Show Answers' }}
      </button>

      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="number">
              <div class="d-flex">
                <span>Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="questionText">
              <div class="d-flex">
                <span>Question Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="difficultyLevel">
              <div class="d-flex">
                <span>Difficulty Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th *ngIf="showAnswers" scope="col" jhiSortBy="correctAnswer">
              <div class="d-flex">
                <span>Correct Answer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enable">
              <div class="d-flex">
                <span>Enable</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (question of questions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a>
              </td>
              <td>{{ question.number }}</td>
              <td class="question-cell">{{ question.questionText }}</td>
              <td>{{ question.difficultyLevel }}</td>
              <td *ngIf="showAnswers">{{ question.correctAnswer }}</td>

              <td class="text-center">
                <label>
                  <input type="radio" name="enabled" [checked]="question.enable" (click)="enableQuestion(question)" />
                  {{ question.enable ? 'Enabled' : 'Disabled' }}
                </label>
              </td>

              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/question', question.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(question)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (questions && questions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
