<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">
      <span>Welcome, {{ account()!.login }}!</span>
    </h1>

    <p class="lead">This is our Quiz Bowl Application</p>

    <p>Thank you for your participation. Here are some reminders:</p>

    <ul>
      <li>
        Listen to the question presented from the slideshow on the stage. If the speaker starts the timer, you can type your answer and
        submit it. Once the time is over, the admin account will disable submissions, and you will no longer be able to submit your answer.
      </li>
      <li>Characters and numbers entered will be accepted in the text form.</li>
      <li>It will ignore whether the text is in lowercase or uppercase (i.e., it is okay if it is all lowercase or uppercase).</li>
      <li>Special characters will also be ignored, making the input less strict.</li>
      <li>If you have any questions, please ask the secretariat.</li>
    </ul>
  </div>
</div>
